body {
    background: Plum;
    font-family: Comic-sans, Arial, Helvetica, sans-serif;
    font-size: large;
    margin-left: 5em;
    margin-right: 5em;
}
body#resume{
    border: 15px purple;
}
body#corpora
{
    margin-left: 10em;
    margin-right: 10em;
}

h1.splash
{
    color: yellow;
    font-size: 70px;

    text-align: right;
    vertical-align: bottom;
    position: relative;
    top: -370px;
    left: -100px;
    transition: transform 2s;
    animation: pulse 2s infinite ease-in-out;
}
@keyframes pulse
{
    0% {transform: rotate(-15deg) scale(1);}
    50% {transform: rotate(-15deg) scale(1.05);}
    100% {transform: rotate(-15deg) scale(1);}
}

figure{
    
}
figure.darkened{
    background-color: #BC718F;
}
figure.morning{
    width: 700px;
}
figure.center-figure{
    display: block; 
  margin-left: auto; 
  margin-right: auto;
  width: 75%; 
}
figure.center-items{
    align-items: center;
}
figure.whitebg
{
    background-color: white;
}
.zoom
{
    transition: transform .2s;
}
.zoom:hover
{
    transform: scale(2);
}


div.side-by-side {
    display: flex;
    justify-content: center;
}
div.iframe-container{
    text-align: center;
}
div.figpadding{
    padding: 1em;
}


img {
    width: 59%;
    max-width: 500px;
}
.zoom
{
    transition: transform .2s;
    /*width: 90%;
    height: auto;
    max-width: 1500px;*/
}
.zoom:hover
{
    transform: scale(2);
}

ul.resume{
    list-style-type:circle;
    border-style:groove;
    border-color:#BC718F;
    border-width:6px;
}

.featureBlock {
    background-color:floralwhite;
    font-size: smaller;
}

img.scale15{
    max-width: 15%;
    height:auto;
}
img.scale200px{
    height:200px;
    width:auto;
}
img.scalefreq
{
    height: 50px;
    width: auto;
}

nav{
    background:#abd3d7;
    font-weight:bold;
    font-size:30px;
    padding:1em;
    text-align:center;
}

button.ui
{
    border:2px solid #abd3d7;
    color:black;
    padding: 28px 48px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.2s;
    cursor: pointer;
}
.ui:hover
{
    padding: 30px 48px;
    border:2px solid #799497;
    background-color:#94b5b8;
    font-weight:bold;
    text-shadow: .5px .5px grey;
}

